# ------------------ Site Configuration ------------------
theme: jekyll-theme-chirpy
lang: fr
timezone: Europe/Paris

title: opium
tagline: Write-ups CTF & Cybersécurité
description: >
  Blog personnel dédié à mes write-ups CTF et à mon apprentissage
  en cybersécurité.

url: "https://thewardenmaker.github.io"
baseurl: ""

# ------------------ Apparence ------------------
theme_mode: dark  # fixe le thème en mode sombre, supprime le toggle
avatar : /assets/img/avatar.jpg


# ------------------ Social ------------------
github:
  username: thewardenmaker

social:
  name: thewardenmaker
  links:
    - https://github.com/thewardenmaker


# ------------------ Menu ------------------
menu:
  - name: Accueil
    url: /
  - name: À propos
    url: /about/
  - name: Tags
    url: /tags/
  - name: Archives
    url: /categories/

# ------------------ TOC & Pagination ------------------
toc: true
paginate: 10

# ------------------ Commentaires ------------------
comments:
  provider: giscus
  giscus:
    repo: thewardenmaker/opium
    repo_id: ""
    category: ""
    category_id: ""
    mapping: pathname
    strict: 0
    input_position: bottom
    lang: fr
    reactions_enabled: 1

# ------------------ PWA ------------------
pwa:
  enabled: true
  cache:
    enabled: true

# ------------------ Tags & Categories ------------------
jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/

# ------------------ Internal Config ------------------
kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

